body{
    background: rgba(183, 184, 185, 0.322);
}
.jumbotron{
    background-image: url(assets/css/img/como_fazer_hamburguer_caseiro%20-%20Copie.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    
}